body {
    background-color: #111111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #111111;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 80%;
    margin: 0 auto;
}

header img {
    width: 150px;
}

h1 {
    font-size: 48px;
}

h2 {
    color: #76b900;
}